<div class="card">
  <img [src]="card.url" class="card-img-top" [alt]="card.name">
  <div class="card-body">
    <h5 class="card-title">{{card.name}}
      <i (click)="removeCard()" class="fa fa-trash ml-5 pointer" aria-hidden="true"></i>
    </h5>
  </div>
  <div class="card-footer">
    <small class="text-muted">Created Date: {{formatDate(card.date)}}</small>
    <div class="text-center">
      <app-stars [starsCounter]="5" [volume]="card.likes" (onItemSelect)="card.setLikes($event)"></app-stars>
    </div>
  </div>
</div>
